* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  background-color: azure;
}

.gridlayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 50px auto auto;
  grid-template-areas:
    "nav"
    "titulo"
    "section"
    "footer";
}

/* INICIO DEL HEADER  */

header {
  height: 130px;
}

/* inicio grid del NAV */

.navheader {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px;
  grid-template-areas: "log fun fun fun ing ";
}

.logoheader {
  grid-area: log;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoheader img {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.funciones {
  grid-area: fun;
  display: flex;
  justify-content: center;
  align-items: center;
}

.funciones ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.funciones ul li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingreso {
  grid-area: ing;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fin grid del NAV */

.titulo {
  height: 80px;
  grid-area: titulo;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  grid-area: section;
  margin: 1%;
  padding: 1%;
}

footer {
  grid-area: footer;
}

nav ul li {
  display: inline-block;
  margin: 1%;
}

.funciones ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
  border-radius: 3rem;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  border-color: #1a8ebc;
}

.funciones ul li a:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: darkblue;
}

.ingreso ul li {
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
  background-color: rgb(129, 129, 129);
}

/* INICIO SECTION */

.contenido {
  display: flex;
}

.texto {
  text-align: center;
  margin-top: 80px;
}

.imagen {
  border-radius: 50%;
}

.imagen:hover {
  transform: scale(1.1);
  transition: all 1s;
}

/* FIN SECTION */

/* INICIO FOOTER */

footer {
  background: radial-gradient(circle, #d8d7e0 0%, rgb(180, 180, 180) 80%);
  margin: 1%;
  padding: 1%;
}

.navfooter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "log fun fun fun map";
}

.logofooter {
  grid-area: log;
}

.funcionesfooter {
  grid-area: fun;
  display: flex;
  justify-content: center;
  align-items: center;
}

.funcionesfooter ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.funcionesfooter ul li {
  text-decoration: none;
  background-color: #1a8ebc;
  color: aliceblue;
  text-transform: uppercase;
}

.funcionesfooter ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
  border-radius: 1rem;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  border-color: #1a8ebc;
}

.funcionesfooter ul li a:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: black;
}

.mapfooter {
  grid-area: map;
  display: flex;
  align-items: center;
  justify-content: center;
}
